<div class = wrapper>
  <h1>巻紙</h1>
  <%= link_to "製造状況ページへ", root_path %>
    <div class = manufacturing_link></div>
  <h2>新規材料登録</h2>
  <%= form_with(model: @paper_roll, local: true, method: :post, class: "material-form") do |form| %>
    <%= form.text_field :name, placeholder: "材料名を入力して下さい", class: "material-input" %>
    <%= form.submit "追加する"%>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>NO</th>
        <th></th>
        <th></th>
        <th></th>
        <th>材料名</th>
      </tr>
    </thead>
    <tbody>
      <% @paper_rolls.each do |paper_roll| %>
        <tr>
          <td class="material__show"><%= paper_roll.id%></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="material__show"><%= paper_roll.name%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>