<div class="wrapper">
  <h1>製造中銘柄状況</h1>
  <div class="production">
    <%= link_to "銘柄別使用材料一覧へ", brands_path %>
      <div class="production__path"></div>
    <%= link_to "材料を確認、登録する", materials_path %>
      <div class="production__path"></div>
    <%= link_to "製造計画追加", new_manufacturing_status_path %>
      <div class="production__path"></div>
    <h3>製造中の状況を見たい銘柄を選択して下さい<h3>
    <%= form_tag({controller: :manufacturing_statuses, action: :show, id: :[]}, {method: :get}) do %>
      <select name="manufacturingstatus">
        <%= @manufacturingstatuses.each do |n| %>
				  <option value=<%= n.id %>><%= n.brand.name %></option>
			  <% end %>
      </select>
      <input type="submit" value="銘柄を選択する">
    <% end %>
  </div>
</div>