<div class = wrapper>
  <h1>材料一覧</h1>
  <%= link_to "新規登録", new_brand_path %>
    <div class = brand_new_link>
  <%= link_to "製造状況ページへ", root_path %>
    <div class = manufacturing_link></div>
  <div>検索</div>
    <%= form_with(url: search_brands_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "銘柄を検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
  <div class = brand__contents>
    <table class = brand__table>
    　<thead>
        <tr class = brand__item>
          <td>銘柄名</td>
          <td>刻み</td>
          <td>巻紙</td>
          <td>小箱</td>
          <td>フィルター</td>
        </tr>
　　　 </thead>
      <tbody class = brand__content>
        <% @brands.each do |brand| %>
          <tr class = brand__tr >
            <td><%= brand.name%></td>
            <td><%= CigaretteShred.find(brand.cigarette_shred_id).name %></td>
            <td><%= PaperRoll.find(brand.paper_roll_id).name%></td>
            <td><%= SmallBox.find(brand.small_box_id).name%></td>
            <td><%= Filter.find(brand.filter_id).name%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>